.note-list {
    /* width: 600px; */
    width: 90%;
    height: auto;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    border: 1px solid #5C5C5C;
    background-color: #2F2F2F;
    color: aliceblue;
}

.notes-container {
    background-color: rgb(55, 57, 57);
    color: rgb(189, 189, 189);
}