@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=PT+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&family=PT+Sans:wght@400&display=swap');

/* CSS para a lista de notas */
.note-list {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    background-color: #2F2F2F;
    width: 90%;
    margin: 35% auto;
    /* white-space: normal; */
}

/* Estilo para a classe .note */
.note {
    flex-direction: column;
    box-sizing: border-box;
    display: inline-block;
    width: calc(33.33% - 20px);
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #5C5C5C;
    background-color: #2F2F2F;
    white-space: normal;
    text-align: left;
    vertical-align: top;
}

/* Estilo para o título da nota */
.note h2 {
    font-size: 15px;
    font-weight: 600;
    color: #B3B3B3;
    padding-left: 8px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.note-list h3 {
    color: rgb(255, 255, 255);
}

/* Estilo para o conteúdo da nota */
.note p {
    font-size: 15px;
    color: #FFFFFF;
    padding-left: 8px;
    padding-right: 8px;
    word-wrap: break-word;
}

/* Estilo para a data de edição da nota */
.note p:last-child {
    font-size: 10px;
    color: #ffffff;
    font-weight: 400;
}



/* Estilo para a classe .header */
.header2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pin,
.trash {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilo para o campo editável da nota quando em modo de edição */
.note p[contentEditable='true'] { 
    outline: none;
    border: none;
}

@media (max-width: 480px) {
    .note-list {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        background-color: #2F2F2F;
        margin: 65% auto;
    }

    .note {
        width: 50%;
        margin: 3px 0px;
    }
}

@media (min-width: 906px) {
    .note-list {
        grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
        margin: 35% auto;
    }

}

@media (min-width: 1200px) {
    .note-list {
        grid-template-columns: repeat(auto-fill, minmax(700px, 1fr));
        margin: 40vh auto;
    }

    ::-webkit-scrollbar {
        width: 12px;
        height: 12px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #5c5d5f;
        border-radius: 6px;

    }

    ::-webkit-scrollbar-track {
        background-color: #424040;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: #4f4f50;
    }
}